body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.titulo1{
    text-align: center;
    background-color: blue;
    color: white;
}
.titulo2{
    text-align: center;
    background-color: red;
    color: white;
}
.titulo3{
    text-align: center;
}
hr{
    border-width: 20px;
    border-color: blue;
}